.color_primary {
  background-color: #2BE080;
  ;
  color: #000000 !important;
}

.color_secondary {
  background-color: #F2F2F2;
  ;
}

.color_text {
  color: #A0A0A0;
  ;
}

.color_background {
  background-color: #F5F5F5;
}

.color_button {
  background-color: #E8E8E8;
}

.text_medium-primary {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(18 / 12);
}

.text_medium-secondary {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.text_large-primary {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(58 / 50);
}

.text_large-secondary {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.underline-pb25 {
  position: relative;
  padding-bottom: 25px;
}

.underline-pb25::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: 0;
  left: 0;
}
